<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <span class="login100-form-title p-b-45">
          Reset Password
        </span>
        <span class="error-subheader2 p-t-20 p-b-15">
          Enter your username.
        </span>
        <div class="form-group wrap-input100 mb-5">
          <input type="text" formControlName="username" class="form-control input100"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <span class="focus-input100"></span>
          <span class="label-input100">Username</span>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Reset My Password
          </button>
        </div>
        <div class="w-full p-t-25 text-center">
          <div>
            <a routerLink="/authentication/signin" class="txt1">
              Login?
            </a>
          </div>
        </div>
      </form>
      <div class="login100-more" style="background-image: url('assets/images/pages/bg-02.png');">
      </div>
    </div>
  </div>
</div>